<template>
  <h3>{{ msg }}</h3>
</template>

<script>
import Vue from 'vue';
import axios from 'axios';
import VueAxios from 'vue-axios';

Vue.use(VueAxios, axios);

export default {
  name: 'HomePage',
  data() {
    return { msg: null };
  },
  mounted() {
    Vue.axios.get('http://localhost:8080/').then((res) => {
      this.msg = res.data;
    });
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
</style>
